/**
*
* 		Breakpoints
*			- Responsive Breakpoints
*           - These can be adjusted if needed
**/

@mixin breakpoint($point) {

	@if $point == lgdesktop {
		 @media only screen and (min-width : 1800px) { @content ; }
	}
	@else if $point == laptop {
	     @media only screen and (max-width : 992px) { @content ; }
	}
	@else if $point == laptopheight {
	     @media only screen and (max-height : 900px) { @content ; }
	}
	@else if $point == tablet {
	     @media only screen and (max-width : 1024px) { @content ; }
	}
	@else if $point == mobile {
	     @media only screen and (max-width : 768px) { @content ; }
	}
	@else if $point == smmobile {
	     @media only screen and (max-width : 640px) { @content ; }
	}
	@else if $point == notmobile {
		@media only screen and (min-width : 768px) { @content ; }
   }
	@else {
		@media only screen and (max-width : $point) { @content ; }
	}

}