/**
*
* 		GENERAL
*			- General supporting Styles
*
**/

*,
*:before,
*:after {
	box-sizing:border-box;
}

body {
	@each $key, $value in $primary {
		#{"" + $key}: $value ;
	}
	overflow-x: hidden;
	min-width: 320px;
}

img {
	display: block;
	max-width: 100%;
}
