/**
*
* 		Typography
*			- This file is for importing and fonts into the CSS stylesheet.
* 			- Separate your font-specific styles into a different file for readability
*
**/

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}